<div class="container">
	<table class="table table-striped table-hover ">
    	<br>
      <h1>Equipos</h1>
      <thead><tr>
      			
				<th><%= link_to "Equipo", :sort => "Equipo" %></th>
				<th><%= link_to "Usuario", :sort => "Usuario" %></th>
				<th><%= link_to "PJ", :sort => "PJ" %></th>
				<th><%= link_to "PG", :sort => "PG" %></th>
				<th><%= link_to "PE", :sort => "PE" %></th>
				<th><%= link_to "PP", :sort => "PP" %></th>
				<th><%= link_to "Pts", :sort => "Pts" %></th>
				<th><%= link_to "Eff", :sort => "Eff" %></th>
				<th><%= link_to "GF", :sort => "GF" %></th>
				<th><%= link_to "GC", :sort => "GC" %></th>
				<th><%= link_to "DG", :sort => "DG" %></th>
       			<th><%= link_to "Amarillas", :sort => "Amarillas" %></th>
				<th><%= link_to "Rojas", :sort => "Rojas" %></th>
    	</tr></thead>

  		<% @sortedList.each do |team| %>
  		<tbody><tr>
				<% @teamID = Team.find_by name: (team[0]) %>
				<% @userID = User.find_by display_name: (team[1]) %>
				<% if @teamID.imageURL %>
					<% @link=@teamID.imageURL %>
				<% else %>
					<% @link = "http://3.bp.blogspot.com/-qAigoxmfPSg/UgrZueNeVnI/AAAAAAAAAmg/T0rYB9NdlJo/s1600/Football+Logo+dgf.jpg" %>
				<% end %>

        	<td><%= link_to image_tag(@link, :border => 0, :width => 28), team_path(@teamID)+'?sort=Overall', :method => "get"%>&nbsp;&nbsp;<%= team[0] %></td>
  			<td><%= link_to "", user_path(@userID), :method => "get" , class: "glyphicon glyphicon-info-sign"%> &nbsp;&nbsp;  <%= team[1] %>
				<% for i in 2..12 %>
					<% if i == 7%>
						<td><%= number_to_percentage(team[i],precision:2) %></td>
					<% else %>
						<td><%= team[i] %></td>
					<% end %>
				<% end %>

  		</tr></tbody>
  		<% end %>
  	</table>






</div>
