<div class="container">
	<table class="table table-striped table-hover ">
    	<thead><tr>
    		<th>Name</th>
    		<th>User</th>
    		<th><%= link_to "Wins", :sort => "wins" %></th>  
    		<th><%= link_to "Draws", :sort => "draws" %></th>  
    		<th><%= link_to "Loses", :sort => "loses" %></th>  
    		<th><%= link_to "GF", :sort => "gf" %></th>  
    		<th><%= link_to "GA", :sort => "ga" %></th>  
    		<th><%= link_to "DG", :sort => "dg" %></th>  
    		<th><%= link_to "Pts", :sort => "pts" %></th>  
    		<th>More Info</th>
    	</tr></thead>
    	
  		<% @teams.each do |team| %>
  		<tbody><tr>
  			<td><%= team.name %></td>
  			<td><%= team.user.name %></td>
  			<td><%= team.wins %></td>
  			<td><%= team.draws %></td>
  			<td><%= team.loses %></td>
  			<td><%= team.gf %></td>
  			<td><%= team.ga %></td>
  			<td><%= team.gf-team.ga %></td>
  			<td><%= team.wins*3+team.draws	 %></td>
  			<td><%= link_to "Info", team_path(team.id), :method => "get" %></td>
  		</tr></tbody>
  		<% end %>
  	</table>



 

	
</div>