<div class="container">
	<h1>Nuevo Equipo</h1>
	<br>
	<%= form_for :team, url: new_team_path do |t| %>
		<b>Nombre:</b> <%= t.text_field('name', placeholder: "Barcelona") %> <br>
		<% if current_user.isAdmin %>
			<b>Usuario:</b> <%= t.select :userID, options_from_collection_for_select(User.where("id>1"), :id, :display_name) %> <br>
			<b>Team Logo URL:</b> <%= t.text_field('imageURL', placeholder: "Image URL") %> <br>
		<% end %>
		
		<%= t.submit "Crear", :class => "btn btn-success" %>
	<% end %>
</div>
