<div class="container">

	<h1> <%= @team.name %></h1>
	<br>
	<div class="col-md-3">
		<h2> Totales</h2>
		<b>User: </b><%= link_to @user.display_name, user_path(@team.user_id), :method => "get" %><br>
		<b>Partidos Jugados: </b><%= @pj %><br>
		<b>Puntos:</b> <%= @pts%><br>
		<b>Partidos Ganados:</b> <%= @team.wins%><br>
		<b>Partidos Empatados:</b> <%= @team.draws%><br>
		<b>Partidos Perdidos:</b> <%= @team.loses%><br>
		<b>Goles a Favor:</b> <%= @team.gf%><br>
		<b>Goles en contra:</b> <%= @team.ga%><br>
		<b>Diferencia de goles:</b> <%= @dg %><br>

	
		
		
		
		
		
	</div>

	<div class="col-md-3">
		<h2> Promedios</h2>
		<b>Promedio Goles a Favor:</b> <%= number_with_precision(@gfpp, precision: 2)%><br>
		<b>Promedio Goles en contra:</b> <%= number_with_precision(@gapp, precision: 2)%><br>
		<b>Promedio Diferencia de gol:</b> <%= number_with_precision(@dgpp, precision: 2)%><br>
		<b>Efectividad:</b> <%= number_to_percentage(@efectividad*100, precision: 2)     %><br>
		
	</div>


		
		
<div class="col-md-6">
		
			<h2> Jugadores</h2>
			<table class="table table-striped table-hover ">
				<thead><tr>
					<th></th>
  					<th>Name</th>
  					<th><%= link_to "Overall", :sort => "overall" %></th>  
  					<th><%= link_to "Pos", :sort => "primary_position" %></th> 
  					<th><%= link_to "Goles", :sort => "goals" %></th> 
  					
  				</tr></thead>
			
  				<% @players.take(1000).each do |player| %>
				<tbody><tr>
					<% @name = player.first_name + " "+ player.last_name%>
		  			<td><%= link_to " ", player_path(player.id), :method => "get" , class: "glyphicon glyphicon-info-sign"%></td>
					<td><%= @name %></td>
		  			<td><%= player.overall %></td>
		  			<td><%= player.primary_position %> <%= player.secondary_position ? player.secondary_position : " " %></td>
		  			<td><%= player.goals %></td>
		  		

  				</tr></tbody>
  				<% end %>
  			</table>
  		
  		
		
		
		
	</div>

	
	
	
	
	
	
	
</div>