<div class="container">
	<h1>Draft List</h1>
	
	<table class="table table-striped table-hover ">
		<thead>
			<tr>
				
				<th>Nombre</th>
				<th>Fecha</th>
				<th>Usuarios</th>
				<th>Picks</th>
				<th>Rondas</th>
				
			</tr>
		</thead>

		<% @drafts.each do |draft| %>
			<tr>
				<center>
  					<td>
						<%= link_to "", draft_path(draft.id), :method => "get" , class: "glyphicon glyphicon-info-sign center"%> &nbsp;
  						<%= draft.name %>
					</td>

					<td>
						<%= draft.created_at.strftime("%d/%m %H:%M") %>
					</td>
					
					<td>
						<%= Pick.where("draft_id=?",draft.id).distinct.count(:user_id) %>
					</td>

					<td>
						<%= Pick.where("draft_id=?",draft.id).count %>
					</td>

					<td>
						<%= draft.rounds %>						
					</td>

			

			</tr>
		<% end %>
	</table>
</div>