<div class="container">
	<h1>Draft</h1>
	<div class="col-md-8">
		<table class="table table-striped table-hover ">
		<thead><tr>
			<th>Round</th>
			<th>Pick</th>
			<th>Overall</th>
			<th>User</th>
			<th>Player</th>
			<th>Rating</th>
			<th>Position</th>
		</tr></thead>

		<% @picks.each do |pick| %>
			<% if pick.number==next_pick.number%>
				<tbody><tr class="info">
					<td><%= (pick.number-1)/@numberOfUsers+1 %></td>
					<td>
						<% if pick.number % @numberOfUsers == 0 %>
											<%= @numberOfUsers%>
									<% else %>
										 	<%= pick.number % @numberOfUsers%>
									<% end %></td>

					<td><%= pick.number %></td>
					<td><%= @users.find(pick.user_id).display_name %></td>
					
					<% @player=@players.find(pick.player_id) %>
					
					<td><%= @player.first_name %> <%= @player.last_name %></td>
					<td><%= @player.overall %></td>
					<td><%= @player.primary_position %> <%= @player.secondary_position ? @player.secondary_position : " " %></td>

		  			
				</tr></tbody>
			<% else %>
				<tbody><tr>
					<td><%= (pick.number-1)/@numberOfUsers+1 %></td>
					<td>
						<% if pick.number % @numberOfUsers == 0 %>
											<%= @numberOfUsers%>
									<% else %>
										 	<%= pick.number % @numberOfUsers%>
									<% end %></td>

					<td><%= pick.number %></td>
					<td><%= @users.find(pick.user_id).display_name %></td>
					
					<% @player=@players.find(pick.player_id) %>
					
					<td><%= @player.first_name %> <%= @player.last_name %></td>
					<td><%= @player.overall %></td>
					<td><%= @player.primary_position %> <%= @player.secondary_position ? @player.secondary_position : " " %></td>

		  			
				</tr></tbody>
			<% end %>
			
		<% end %>
		</table>
	</div>
	<div class="col-md-4">
		<h2>Next Pick</h2>
		<b>User:</b> <%=@users.find(@picks.find(next_pick).user_id).display_name%><br>
		<b>Round:</b> <%= (next_pick.number-1)/@numberOfUsers+1 %><br>
		<b>Pick:</b> <% if next_pick.number % @numberOfUsers == 0 %>
										<%= @numberOfUsers%>
								<% else %>
									 	<%= next_pick.number % @numberOfUsers%>
								<% end %>
		<br>
		<b>Overall:</b> <%= next_pick.number %><br>
		
	</div>
</div>