<div class="container">
	<h2>Jugadores Deseados</h2>

	<table class="table table-striped table-hover ">
				<thead><tr>
					
  					
  					<th><%= link_to "Jugador", :sort => "Jugador" %></th>
  					<th><%= link_to "Overall", :sort => "OVR" %></th>  
  					<th><%= link_to "Pos", :sort => "Pos" %></th> 
					<th>Sacar</th>
					
  				</tr></thead>
				<% if @wanted != nil %>
	  				<% @wanted.each do |rel| %>
					<tbody><tr>
						<td><%= link_to " ", player_path(rel[0]), :method => "get" , class: "glyphicon glyphicon-info-sign"%> &nbsp;&nbsp; <%= rel[1] %></td>
			  			<td><%= rel[2] %></td>
			  			<td><%= rel[3] %></td>
			  			<td> <font color="red"> <span class="glyphicon glyphicon-remove"> </span> &nbsp; 		  					
		  						<%= link_to "Sacar", '/draft/removeWanted?player_id='+rel[0].to_s %> </font></td>
	  				</tr></tbody>
	  				<% end %>
	  			<% end %>
	  		</table>	
</div>
