<div class="container">
	<h1>League List</h1>
	
	<table class="table table-striped table-hover ">
		<thead>
			<tr>
				<th width="8px"></th>
				<th>Name</th>
				<th width="180px">Created</th>
				<th width="50px">Teams</th>
				<th width="50px">Matches</th>
				<th width="50px">Finished</th>
			</tr>
		</thead>

		<% @leagues.each do |league| %>
			<tr>
				<center>
  					<td>
  						<%= link_to "", league_path(league.id), :method => "get" , class: "glyphicon glyphicon-info-sign center"%>
  					</td>

					<td>
						<%= league.name %>
					</td>

					<td>
						<%= league.created_at.strftime("%a %d/%m/%Y %H:%M:%S") %>
					</td>

					<td>
						&emsp;&ensp;<%= @teams = Team.joins("JOIN matches ON (matches.local_team_id = teams.id OR matches.away_team_id = teams.id) AND matches.league_id = " + league.id.to_s).group("teams.id").count.count %>
					</td>

					<td>
						<center>
							<%= @league_matches = Match.where("league_id = ?", league.id).count %>
						</center>
					</td>

					<td>
						<center>
							<% if league.finished %>
								<span class="glyphicon glyphicon-ok"%></span>
							<% else %>
								<span class="glyphicon glyphicon-remove"%></span>
							<% end %>
						</center>
					</td>				

			</tr>
		<% end %>
	</table>
</div>