<div class="container">
	<h1><%= @league.name %></h1>

	<table class="table table-striped table-hover ">
		<thead>
			<tr>
				<th>&emsp;&emsp;Name</th>
				<th>&emsp;&emsp;User</th>
				<th>PJ</th>
				<th><%= link_to "Wins", :sort => "wins" %></th>  
				<th><%= link_to "Draws", :sort => "draws" %></th>  
				<th><%= link_to "Loses", :sort => "loses" %></th>  
				<th><%= link_to "GF", :sort => "gf" %></th>  
				<th><%= link_to "GA", :sort => "ga" %></th>  
				<th><%= link_to "DG", :sort => "dg" %></th>  
				<th><%= link_to "Pts", :sort => "pts" %></th>  
				<th><%= link_to "Eff", :sort => "eff" %></th>  
			</tr>
		</thead>

		<% @teams.each do |team| %>
			<tbody><tr>
			<td><%= link_to "", team_path(team.id), :method => "get" , class: "glyphicon glyphicon-info-sign"%> &nbsp;&nbsp;  <%= team.name %>
	  		<td><%= link_to "", user_path((User.find(team.user_id)).id), :method => "get" , class: "glyphicon glyphicon-info-sign"%> &nbsp;&nbsp;  <%= User.find(team.user_id).display_name %>
	  		<td><%= @pj[team.id] %></td>	
	  		<td><%= @wins[team.id] %></td>
	  		<td><%= @draws[team.id]%></td>
	  		<td><%= @loses[team.id] %></td>
	  		<td><%= @gf[team.id] %></td>
	  		<td><%= @ga[team.id] %></td>
	  		<td><%= @dg[team.id] %></td>
	  		<td><%= @pts[team.id] %></td>
	  		<td><%= number_to_percentage(@eff[team.id]*100, precision: 2) %></td>
	  	</tr></tbody>	
		<% end %>
	</table>
</div>