<div class="container">
	<h1>Opciones de Admin</h1>
	<div class="col-md-6">
		<div class="jumbotron">
			<h3>Crear Usuario</h3>
			<%= form_for :user, url: new_user_path do |t| %>
				<b>Usuario:</b> <%= t.text_field('name', placeholder: "Username") %> <br>
				<b>ELO:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    </b> <%= t.text_field('elo', placeholder: "1400") %> <br><br>
				<%= t.submit "Crear", :class => "btn btn-success" %>
			<% end %>
		</div>	
	</div>	

	<div class="col-md-6">
		<div class="jumbotron">
			<h3>Dar Pick</h3>
			<%= form_for :user, url: {action: "givePick", method:"post"}  do |t| %>
				<b>Usuario: &nbsp;</b> <%= t.select :userID, options_from_collection_for_select(User.where("id>1"), :id, :display_name) %> <br>
				<b>Cantidad:</b> <%= t.text_field('cantidad', placeholder: "1") %> <br><br>
				<%= t.submit "Dar", :class => "btn btn-success" %>
			<% end %>
			
		</div>	




	</div>	
</div>