<div class="container">
<h1> Usuarios</h1>



<table class="table table-striped table-hover ">
	<thead><tr>

		<th><%= link_to "Nombre", :sort => "Usuario" %></th>
		<th><%= link_to "ELO", :sort => "ELO" %></th>
		<th><%= link_to "PJ", :sort => "PJ" %></th>
		<th><%= link_to "PG", :sort => "PG" %></th>
		<th><%= link_to "PE", :sort => "PE" %></th>
		<th><%= link_to "PP", :sort => "PP" %></th>
		<th><%= link_to "Pts", :sort => "Pts" %></th>
		<th><%= link_to "Eff", :sort => "Eff" %></th>
		<th><%= link_to "GF", :sort => "GF" %></th>
		<th><%= link_to "GC", :sort => "GC" %></th>
		<th><%= link_to "DG", :sort => "DG" %></th>
		<th><%= link_to "Amarillas", :sort => "Amarillas" %></th>
		<th><%= link_to "Rojas", :sort => "Rojas" %></th>
		<% if next_pick != nil %>
			<th>Tiempo Restante</th>
		<% end %>

	</tr></thead>

	<% @users.each do |user| %>
		<tbody><tr>


			<td><%= link_to "", user_path(user[0]), :method => "get" , class: "glyphicon glyphicon-info-sign"%> &nbsp;&nbsp;  <%= user[1] %>
			<% for i in 2..13 %>
				<% if i == 8%>
					<td><%= number_to_percentage(user[i],precision:2) %></td>
				<% else %>
					<td><%= user[i] %></td>
				<% end %>
			<% end %>

  			<% if next_pick != nil %>
				<td><%= user[i].minutes %></td>
		<% end %>
  		</tr></tbody>
	<% end %>
</table>
</div>
