<div class="container">

	<h1> <%= @user? @user.display_name : "" %></h1>
	<br>
	<div class="col-md-4">
		<h2> Totales</h2>

		<b>Partidos Jugados: </b><%= @pj %><br>
		<b>Puntos:</b> <%= @pts %><br>
		<b>Partidos Ganados:</b> <%= @pg? @pg : ""%><br>
		<b>Partidos Empatados:</b> <%= @pe? @pe : ""%><br>
		<b>Partidos Perdidos:</b> <%= @pp? @pp : ""%><br>
		<b>Goles a Favor:</b> <%= @gf? @gf : ""%><br>
		<b>Goles en contra:</b> <%= @gc? @gc : ""%><br>
		<b>Diferencia de goles:</b> <%= @dg? @dg : ""%><br>







	</div>

	<div class="col-md-4">
		<h2> Promedios</h2>
		<b>Promedio Goles a Favor:</b> <%= number_with_precision(@gfpp, precision: 2)%><br>
		<b>Promedio Goles en contra:</b> <%= number_with_precision(@gcpp, precision: 2)%><br>
		<b>Promedio Diferencia de gol:</b> <%= number_with_precision(@dgpp, precision: 2)%><br>
		<b>Efectividad:</b> <%= number_to_percentage(@efectividad*100, precision: 2)     %><br>

	</div>

	<div class="col-md-4">
		<div class="row">
			<h2> Equipos</h2>
			<% if @teams != "" %>
				<% @teams.each do |team| %>
		  			<table>
						<tbody><tr>
				  			<td><%= link_to team.name, team_path(team.id), :method => "get" %></td>

		  				</tr></tbody>
		  			</table>
	  			<% end %>
  			<% end %>
				<br>
				<% @link = '/matches/my?user='+@user.id.to_s %>
				<a href=<%=@link%>><button class="btn btn-sm btn-primary">Ver Partidos</button></a>
  		<% if @user.id == current_user.id %>

				<br><br><a href="/teams/new"><button class="btn btn-sm btn-primary">Registrar otro Equipo</button></a>

  		<% end %>

		</div>


	</div>








</div>
