<div class="container">

	<% if @pendingTrade==true %>
		<br>
		<br>	
		<div class="alert alert-dismissable alert-success">
	  		<button type="button" class="close" data-dismiss="alert">×</button>
	  		<strong>Atención!!</strong> Te ofrecieron un Trade. Anda a <a href="trades/proposedTrades" class="alert-link">Proposed Trades</a> y contestá.
		</div>
	<% end %>
	
	<img src="/assets/logo2.jpg" height=119 width=366>
	
	<br>
	
	<div class="row">
		<div class="col-lg-6">
			<div class="container-fluid jumbotron">
				
				<h2>Novedades</h2>
				<h3> Lanzamiento FIFA 15!!!! </h3>
				<p>23/09/2014 Version 2.0! <a href="/welcome/history">Ver Cambios </a></p>
				07/09/2014 Version 1.2.2 <a href="/welcome/history">Ver Cambios </a><br>
				26/08/2014 Version 1.2.1 <a href="/welcome/history">Ver Cambios </a><br>
				21/08/2014 Version 1.2 <a href="/welcome/history">Ver Cambios </a><br>
				19/08/2014 Version 1.1.1 <a href="/welcome/history">Ver Cambios </a><br>
				17/08/2014 19hs: Torneo Inaugural<br>
				17/08/2014 Version 1.1 <a href="/welcome/history">Ver Cambios </a><br>
				16/08/2014 Version 1.0 Terminada: Ya se puede tradear!<br>
				15/08/2014: Lanzamiento oficial


			</div>
		</div>
		<div class="col-lg-6">
			
				<div class="container-fluid jumbotron">
				<h2>Últimos Partidos </h2>
				<table class="table table-striped table-hover ">
					<thead>
						<tr>
							<th></th>
							<th>Fecha</th>
							<th>Local</th>
							<th>Equipo</th>
							<th>Goles</th>
							<th>Goles</th>
							<th>Equipo</th>
							<th>Visitante</th>
							
						</tr>
					</thead>

					<% @matches.each do |match| %>
						<tr><center>
			  			<td><right><%= link_to "", match_path(match.id), :method => "get" , class: "glyphicon glyphicon-info-sign right"%></right></td>

							<td><%= match.date.strftime("%d/%m") %></td>

							<% if match.local_goals > match.away_goals %>
								<td><%= @users.find(match.local_user_id).display_name %></td>
								<td><%= @teams.find(match.local_team_id).name %> </td>
								<td><%= match.local_goals %></td>
								<td><%= match.away_goals %></td>
								<td><%= @teams.find(match.away_team_id).name %></td>
								<td><%= @users.find(match.away_user_id).display_name %></td>	
							<% else %>
								<% if match.local_goals < match.away_goals %>
									<td><%= @users.find(match.local_user_id).display_name %>	</td>
									<td><%= @teams.find(match.local_team_id).name %> </td>
									<td><%= match.local_goals %></td>
									<td><%= match.away_goals %></td>
									<td><%= @teams.find(match.away_team_id).name %></td>
									<td><%= @users.find(match.away_user_id).display_name %></td>
								<% else %>
									<td><%= @users.find(match.local_user_id).display_name %>	</td>
									<td><%= @teams.find(match.local_team_id).name %> </td>
									<td><%= match.local_goals %></td>
									<td><%= match.away_goals %></td>
									<td><%= @teams.find(match.away_team_id).name %></td>
									<td><%= @users.find(match.away_user_id).display_name %></td>
								<% end %>
							<% end %>
					

						</tr>
					<% end %>
				</table>

			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6">
			<div class="container-fluid jumbotron">
				<h2><a href="/welcome/faqs"> Recién entrás? hacé click acá </a></h2>
				
		         <br>
				<blockquote>
				  	<p>Quebro. Gambar.</p>
				  	<small>Nahuel Palumbo <cite title="Source Title">Ultimas palabras antes de la desaparicion en vida</cite></small>
				</blockquote>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="container-fluid jumbotron">	
					<h2>Draft</h2>
						<table class="table table-striped table-hover ">
						<thead><tr>
							<th>Round</th>
							<th>Pick</th>
							<th>Overall</th>
							<th>User</th>
							<th>Player</th>
							<th>Rating</th>
							<th>Position</th>
						</tr></thead>
						<% if next_pick != nil %>
							<% @np = next_pick.number %>
						<% else %>
							<% @np = Pick.count %>
						<% end %>
						<% @picksa = Pick.where("number > ? and number < ?", @np-4,@np+4) %>
						<% @picksa.each do |pick| %>
							
							<% if pick.number==@np%>
								<tbody><tr class="info"> 
									<td><%= (pick.number-1)/@numberOfUsers+1 %></td>
								<td>
									<% if pick.number % @numberOfUsers == 0 %>
														<%= @numberOfUsers%>
												<% else %>
													 	<%= pick.number % @numberOfUsers%>
												<% end %></td>

								<td><%= pick.number %></td>
								<td><%= @users.find(pick.user_id).display_name %></td>
								<% @player=@players.find(pick.player_id) %>
								<td><%= @player.last_name %></td>
								<td><%= @player.overall %></td>
								<td><%= @player.primary_position %> <%= @player.secondary_position ? @player.secondary_position : " " %></td>	
							</tr></tbody>
							<% else %>
								<tbody><tr>
									<td><%= (pick.number-1)/@numberOfUsers+1 %></td>
								<td>
									<% if pick.number % @numberOfUsers == 0 %>
														<%= @numberOfUsers%>
												<% else %>
													 	<%= pick.number % @numberOfUsers%>
												<% end %></td>

								<td><%= pick.number %></td>
								<td><%= @users.find(pick.user_id).display_name %></td>
								<% @player=@players.find(pick.player_id) %>
								<td><%= @player.last_name %></td>
								<td><%= @player.overall %></td>
								<td><%= @player.primary_position %> <%= @player.secondary_position ? @player.secondary_position : " " %></td>	
							</tr></tbody>
							<% end %>

								
						<% end %>
						</table>
					
				</div>
		</div>
	</div>
	<br>
	<br>
</div>