<div class="container">
	<center>
	<div class="row">
		<b><div class="col-md-2">
			Name
		</div>

		<div class="col-md-2">
			Overall
		</div>

		<div class="col-md-2">
			Position
		</div>

		<div class="col-md-2">
			Team
		</div>

		<div class="col-md-2">
			User
		</div>

		<div class="col-md-2">
			More Info
		</div></b>
	</div>	

	<% @players.each do |player| %>
	<div class="row">
		<div class="col-md-2">
			<%= player.first_name %> <%= player.last_name %>
		</div>

		<div class="col-md-2">
			<%= player.overall %>
		</div>

		<div class="col-md-2">
			<%= player.primary_position %> <%= player.secondary_position ? player.secondary_position : " " %>
		</div>

		<div class="col-md-2">
			<%= player.team.name %>
			
		</div>

		<div class="col-md-2">
			<%= player.team.user.name %>
		</div>

		<div class="col-md-2">
			<%= link_to "Info", player_path(player.id), :method => "get" %>
		</div>
	</div>	
	<% end %>


	</center>
</div>