<div class="container">

<button type="button" class="btn btn-default btn-lg">
		<a href='index.html'>Volver</a>
</button>

<table>

	<tr>
		<th>Name</th>
		<th>Overall</th>
		<th>Primary Position</th>
		<th>Secondary Position</th>
		<th>Pace</th>
		<th>Shooting</th>
		<th>Dribbling</th>
		<th>Passing</th>
		<th>Heading</th>
		<th>Defence</th>
	</tr>

	<% @players.each do |player| %>
		<tr>
			<td><%= player.first_name %> <%= player.last_name %></td>
			<td><%= player.overall %></td>
			<td><%= player.primary_position %></td>
			<td><%= player.secondary_position %></td>
			<td><%= player.pace ? player.pace : "N/A" %></td>
			<td><%= player.shooting ? player.shooting : "N/A" %></td>
		  	<td><%= player.dribbling ? player.dribbling : "N/A" %></td>
			<td><%= player.passing ? player.passing : "N/A" %></td>
			<td><%= player.heading ? player.heading : "N/A" %></td>
			<td><%= player.defence ? player.defence : "N/A" %></td>
		</tr>
	<% end %>
</table>

</div>