<div class="container">
	<table class="table table-striped table-hover ">
    	<thead><tr>
        <th>
    		<th>Name</th>
    		<th>Overall</th>
    		<th>Position</th>
    		<th>Team</th>
    		<th>User</th>
    	</tr></thead>
    	
  		<% @players.each do |player| %>
  		<tbody><tr>
        <% @name = player.first_name + " "+player.last_name %>
  			<td><right><%= link_to "", player_path(player.id), :method => "get" , class: "glyphicon glyphicon-info-sign right"%></right></td>
        <td></left><%= @name %></left></td>
  			<td><%= player.overall %></td>
  			<td><%= player.primary_position %> <%= player.secondary_position ? player.secondary_position : " " %></td>
  			<td><%= player.team.name %></td>
  			<td><%= player.team.user.name %></td>
  		</tr></tbody>
  		<% end %>
  	</table>



 

	
</div>