<div class="container">
 <h1> Jugadores</h1>

 <h3> Filtros </h3>
 <div class="btn-toolbar">
      <div class="btn-group"><br>
      <form role="search">    
        <%= link_to "Todos", params.merge(:filter1 => "all", :filter2 => "all", :filter3 => "all", :filter4 => "all"), class: "btn btn-default btn-sm", type: "button" %>&nbsp;&nbsp;
        <%= link_to "GK", params.merge(:filter1 => "GK"), class: "btn btn-warning btn-sm", type: "button" %>
        <%= link_to "def", params.merge(:filter1 => "def"), class: "btn btn-primary btn-sm", type: "button" %> 
        <%= link_to "med", params.merge(:filter1 => "med"), class: "btn btn-success btn-sm", type: "button" %> 
        <%= link_to "fw", params.merge(:filter1 => "fw"), class: "btn btn-danger btn-sm", type: "button" %> &nbsp;&nbsp;

        <%= link_to "RB", params.merge(:filter1 => "RB"), class: "btn btn-primary btn-sm", type: "button" %> 
        <%= link_to "RWB", params.merge(:filter1 => "RWB"), class: "btn btn-primary btn-sm", type: "button" %> 
        <%= link_to "CB", params.merge(:filter1 => "CB"), class: "btn btn-primary btn-sm", type: "button" %> 
        <%= link_to "LB", params.merge(:filter1 => "LB"), class: "btn btn-primary btn-sm", type: "button" %> 
        <%= link_to "LWB", params.merge(:filter1 => "LWB"), class: "btn btn-primary btn-sm", type: "button" %> &nbsp;&nbsp;

        <%= link_to "CDM", params.merge(:filter1 => "CDM"), class: "btn btn-success btn-sm", type: "button" %> 
        <%= link_to "CM", params.merge(:filter1 => "CM"), class: "btn btn-success btn-sm", type: "button" %> 
        <%= link_to "CAM", params.merge(:filter1 => "CAM"), class: "btn btn-success btn-sm", type: "button" %> 
        <%= link_to "RM", params.merge(:filter1 => "RM"), class: "btn btn-success btn-sm", type: "button" %> 
        <%= link_to "LM", params.merge(:filter1 => "LM"), class: "btn btn-success btn-sm", type: "button" %> &nbsp;&nbsp;

        <%= link_to "RW", params.merge(:filter1 => "RW"), class: "btn btn-danger btn-sm", type: "button" %>
        <%= link_to "LW", params.merge(:filter1 => "LW"), class: "btn btn-danger btn-sm", type: "button" %>
        <%= link_to "CF", params.merge(:filter1 => "CF"), class: "btn btn-danger btn-sm", type: "button" %>
        <%= link_to "ST", params.merge(:filter1 => "ST"), class: "btn btn-danger btn-sm", type: "button" %> 
      </form>
      </div><br>
      <div class="btn-group">
        <form role="search"><br>
          <%= link_to "Drafted", params.merge(:filter2 => "drafted"), class: "btn btn-default btn-sm", type: "button" %> &nbsp;
          <%= link_to "Undrafted", params.merge(:filter2 => "undrafted"), class: "btn btn-default btn-sm", type: "button" %> &nbsp;&nbsp;        
          <%= form_tag('/search', id: "search-form") do %>    
                <%= text_field_tag :filter1, "", placeholder: "Messi" %> &nbsp;&nbsp;
                <button class="btn btn-sm btn-success" type="submit">Buscar</button>
          <% end %>
        </form>
      </div>
  </div><br>

  <table class="table table-striped table-hover "><br>
      <thead><tr>
        
    		<th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Name</th>
    		<th>Overall</th>
    		<th>Posición</th>
    		<th>Equipo</th>
    		<th>User</th>
        <th></th>
        <th></th>
    	</tr></thead>
    	
  		<% @players.each do |player| %>
      <% if player.user_id==1 %>
    		<tbody><tr>
          <% if player.first_name != "" %>
            <% @name = player.first_name.to_s + " "+player.last_name.to_s %>

          <% else %>
            <% @name = player.last_name %>

    			<% end %> 
          <td><%= link_to "", player_path(player.id), :method => "get" , class: "glyphicon glyphicon-info-sign right"%>&nbsp;&nbsp;&nbsp;<%= @name %></td>
    			<td><%= player.overall %></td>
    			<td><%= player.primary_position %> <%= player.secondary_position ? player.secondary_position : " " %></td>
    			<td><%= player.team.name %></td>
    			<td><%= player.team.user.display_name %></td>
          <% if next_pick==nil %>
            <% @nextID=0 %>
          <% else %>
            <% @nextID=next_pick.user_id %>
          <% end  %>
          <% if current_user==nil %>
            <% @loggedUser=0 %>
          <% else %>
            <% @loggedUser=current_user.id %>
          <% end  %>
          <% if (@nextID == @loggedUser and player.team_id==1 ) or (@loggedUser ==10 or @loggedUser==7) %>
              <% @link = "/draft/draftPlayer?id="+player.id.to_s %>
              <td><%= link_to "Draft", @link%></td>
          <% else %>
              <% if player.team_id!=1 and @nextID == @loggedUser %>
                <td>Drafted</td>
              <% end %>
          <% end %>
          <% if (@nextID != @loggedUser and player.team_id==1 ) %>
              <% @link = "/draft/addWanted?player_id="+player.id.to_s %>
              <td><%= link_to "Lo Quiero!", @link%></td>
          <% end %>
    		</tr></tbody>
      <% else %>
        <tbody><tr class="danger">
          <% if player.first_name == "" %>
            <% @name = player.last_name %>
          <% else %>
            <% @name = player.first_name.to_s + " "+player.last_name.to_s %>
          <% end %> 
          <td><%= link_to "", player_path(player.id), :method => "get" , class: "glyphicon glyphicon-info-sign right"%>&nbsp;&nbsp;&nbsp;<%= @name %></td>
          <td><%= player.overall %></td>
          <td><%= player.primary_position %> <%= player.secondary_position ? player.secondary_position : " " %></td>
          <td><%= player.team.name %></td>
          <td><%= player.team.user.display_name %></td>
          <% if next_pick==nil %>
            <% @nextID=0 %>
          <% else %>
            <% @nextID=next_pick.user_id %>
          <% end  %>
          <% if current_user==nil %>
            <% @loggedUser=0 %>
          <% else %>
            <% @loggedUser=current_user.id %>
          <% end  %>
          <% if (@nextID == @loggedUser and player.team_id==1 ) or (@loggedUser ==10 or @loggedUser==7) %>
              <% @link = "/draft/draftPlayer?id="+player.id.to_s %>
              <td><%= link_to "Draft", @link%></td>

          <% else %>
              <% if player.team_id!=1 and @nextID == @loggedUser %>
                <td>Drafted</td>
              <% end %>
          <% end %>
        </tr></tbody>
      <% end %>
  		<% end %>
  	</table>



 

	
</div>