<div class="container">

	<h1> <%= @player.first_name %>
	<%= @player.last_name %> </h1>
	<br>
	<div class="col-md-3">
		<h2> Información</h2>
		<b>Equipo:</b> <%= link_to @team.name, team_path(@team.id), :method => "get" %><br>
		<b>User: </b><%= link_to @user.display_name, user_path(@team.user_id), :method => "get" %><br>
		<b>Equipo Original:</b> <%= @player.club %><br>
		<b>Liga:</b> <%= @player.league %><br>
		<b>Nacionalidad:</b> <%= @player.nation %><br>
		<b>Edad:</b> <%= @player.age %><br>
		<b>Titular?</b>&nbsp;
		<% if @player.starting %>
			<% @link = "/players/hacerTitular?id="+@player.id.to_s+"&from=players" %>
			<font color="green"><b>Sí</b>  <span class="glyphicon glyphicon-ok"> </span> </font>
				<% if @player.user_id == current_user.id %>
		  			<%= link_to "Al Banco", @link %> </font></td>
		  		<% end %>
		<% else %>
			<% @link = "/players/hacerTitular?id="+@player.id.to_s+"&from=players" %>
			<font color="red"><b>No</b> <span class="glyphicon glyphicon-remove"> </span> </font>
			<% if @player.user_id == current_user.id %>
				<%= link_to "Poner de Titular", @link %>
			<% end %>
		<% end %>

		<br>

		<b>Tradeable?</b>
		<% if @player.on_the_block %>&nbsp;
			<% @link = "/players/addToTradeBlock?id="+@player.id.to_s+"&from=players" %>
			<font color="green"> <b>Sí</b> <span class="glyphicon glyphicon-ok"> </span> </font>
				<% if @player.user_id == current_user.id %>
		  			<%= link_to "Quitar", @link %> </font></td>
		  		<% end %>
		<% else %>
			<% @link = "/players/addToTradeBlock?id="+@player.id.to_s+"&from=players" %>
			<font color="red"> <b>No</b> <span class="glyphicon glyphicon-remove"> </span></font>
			<% if @player.user_id == current_user.id %>
				<%= link_to "Agregar", @link %>
			<% end %>
		<% end %>
		<br>

		<b>Protegido?</b>&nbsp;
		<% if @player.protected %>
			<% @link = "/players/protectPlayer?id="+@player.id.to_s+"&from=players" %>
			<font color="green"> <b>Sí</b> <i class="fa fa-shield"></i></span></font>
				<% if @player.user_id == current_user.id %>
		  			<%= link_to "Desproteger", @link %> </font></td>
		  		<% end %>
		<% else %>
			<% @link = "/players/protectPlayer?id="+@player.id.to_s+"&from=players" %>
			<font color="red"> <b>No</b>  <span class="glyphicon glyphicon-remove"> </span> </font>
			<% if @player.user_id == current_user.id %>
				<%= link_to "Proteger", @link %>
			<% end %>
		<% end %>

		<br>

		<% if @player.user_id == current_user.id %>
			<b> Liberar Jugador? </b>
			<% @link = "/players/releasePlayer?id="+@player.id.to_s+"&from=team" %>
			<td> <font color="black"> <span class="glyphicon glyphicon-trash"> </span>
				<%= link_to "Liberar", @link %> </font></td>
		<% end %>

		<% if @player.user_id == 1 %>
			<b> Jugador Deseado? </b>
			<% @link = "/draft/addWanted?player_id="+@player.id.to_s %>
			<td> <font color="green">
				<%= link_to "Lo Quiero!", @link %> </font></td>
		<% end %>


		<% if @player.user_id == current_user.id %>
		<br>
			<%= form_for :movePlayer, url: "movePlayer?id="+@player.id.to_s do |t| %>
			<b> Mover Jugador? </b> <br>
			<% @teams = Team.where("user_id=? and id<>?",@player.user_id,@player.team_id) %>
			<div class="col-md-8">
				<%= t.select :team, options_from_collection_for_select(@teams, "id", "name"), {}, {:class => "form-control"} %>
			</div>
			<%= t.submit "Mover", :class => "btn btn-sm btn-primary" %>

			<% end %>


		<% end %>

		<h2>Características</h2>
		<b>Overall:</b> <%= @player.overall %><br>
		<b>Posición:</b> <%= @player.primary_position %> <%= @player.secondary_position ? @player.secondary_position : " " %><br>
		<b>Altura:</b> <%= @player.height %><br>
		<b>Skill Moves:</b> <%= @player.skill_moves %>/5<br>
		<b>Esfuerzo en Ataque:</b> <%= @player.attack_WR %><br>
		<b>Esfuerzo en Defensa:</b> <%= @player.defend_WR%><br>
	</div>


	<div class="col-md-6" align="center">
		<h2> Ratings</h2>
		<h3>Overall: <%= @player.overall %></h3><br>
		<div class="col-md-6" align="center">
			<% @attributeNames.each do |att| %>
				<% if @attributeNames.index(att) %2 == 0 %>
					<%=att%>: <b>
						<% @rating = @attributes.at(@attributeNames.index(att)) %>
						<% if @rating >= 85 %>
							<font color="27C43C">
						<% else %>
							<% if @rating >=70 %>
								<font color="green">
							<% else %>
								<% if @rating >=50 %>
									<font color="F0A028">
								<% else %>
									<font color="red">
								<% end %>
							<% end %>
						<% end %>
					<%= @rating %>
					</font></b><br>
				<% end %>
			<% end %>
		</div>
		<div class="col-md-6" align="center">
			<% @attributeNames.each do |att| %>
				<% if @attributeNames.index(att) %2 != 0 %>
					<%=att%>: <b>
						<% @rating = @attributes.at(@attributeNames.index(att)) %>
						<% if @rating >= 85 %>
							<font color="27C43C">
						<% else %>
							<% if @rating >=70 %>
								<font color="green">
							<% else %>
								<% if @rating >=50 %>
									<font color="F0A028">
								<% else %>
									<font color="red">
								<% end %>
							<% end %>
						<% end %>
					<%= @rating %>
					</font></b><br>
				<% end %>
			<% end %>
		</div>









	</div>



	<div class="col-md-3" align="right">
		<h2> Stats</h2>
		<align="right">

		<% @goals=Event.where("player_id=? and event_type_id=2 and goal_type_id<>2 and team_id<500",@player.id).count %>
		<% @assists=Event.where("player_id=? and event_type_id=3 and team_id<500",@player.id).count %>
		<% @yellow=Event.where("player_id=? and event_type_id=12 and team_id<500",@player.id).count %>
		<% @red=Event.where("player_id=? and event_type_id=14",@player.id).count %>
		<% @own=Event.where("player_id=? and event_type_id=2 and goal_type_id=2 and team_id<500",@player.id).count %>
		<% @POM=Event.where("player_id=? and event_type_id=9 and team_id<500",@player.id).count %>

		<b>PJ:</b> <%= @player.games_played %><br>
		<b>Goles:</b> <%= @goals %><br>
		<b>Asistencias:</b> <%= @assists %><br>
		<b>Jugador del partido:</b> <%= @POM %><br>
		<b>Goles en Contra:</b> <%= @own %><br>
		<b>Amarillas:</b> <%= @yellow %><br>
		<b>Rojas:</b> <%= @red %><br>
		<b>Promedio de Gol:</b>
							<% if @player.games_played == 0 %>
									0
							<% else %>
								 	<%= number_with_precision(@player.goals.to_f / @player.games_played.to_f, precision: 2)%><br>
							<% end %>
		<% @penalesAtajados=Event.where("player_id=? and event_type_id=7 and team_id<500",@player.id).count %>
		<br><b>Penales Atajados:</b> <%= @penalesAtajados %><br>

		</align>
		<h3>Tipos de Gol</h3>

		<% @deJugada=Event.where("player_id=? and event_type_id=2 and goal_type_id=1 and team_id<500",@player.id).count %>
		<% @dePenal=Event.where("player_id=? and event_type_id=2 and goal_type_id=3 and team_id<500",@player.id).count %>
		<% @deTiroLibre=Event.where("player_id=? and event_type_id=2 and goal_type_id=4 and team_id<500",@player.id).count %>
		<% @deCabeza=Event.where("player_id=? and event_type_id=2 and goal_type_id=5 and team_id<500",@player.id).count %>

		<b>De Jugada:</b> <%= @deJugada %>
		<br><b>De Cabeza:</b> <%= @deCabeza %>
		<br><b>De Tiro Libre:</b> <%= @deTiroLibre %>
		<br><b>De Penal:</b> <%= @dePenal %>
		</right>
	</div>










</div>
