<div class="container">

	<h1> <%= @player.first_name %>
	<%= @player.last_name %> </h1>
	<br>
	<div class="col-md-4">
		<h2> Information</h2>
		<b>Equipo:</b> <%= link_to @team.name, team_path(@team.id), :method => "get" %><br>
		<b>User: </b><%= link_to @user.display_name, user_path(@team.user_id), :method => "get" %><br>
		<b>League:</b> <%= @player.league %><br>
		<b>Overall:</b> <%= @player.overall %><br>
		<b>Position:</b> <%= @player.primary_position %> <%= @player.secondary_position ? @player.secondary_position : " " %><br>
		<b>On the Trade Block?</b>
		<% if @player.on_the_block %>&nbsp;
			<% @link = "/players/addToTradeBlock?id="+@player.id.to_s+"&from=players" %>
			<font color="green"> <span class="glyphicon glyphicon-ok"> </span> &nbsp;  </font>

				<% if @player.user_id == current_user.id %>
		  			<%= link_to "Remove", @link %> </font></td>
		  		<% end %>
		<% else %>
			<% @link = "/players/addToTradeBlock?id="+@player.id.to_s+"&from=players" %>
			<font color="red"> <span class="glyphicon glyphicon-remove"> </span> &nbsp;  </font>
			<% if @player.user_id == current_user.id %>
				<%= link_to "Add", @link %>
			<% end %>
		<% end %>
		<br>

		<b>Protected?</b>&nbsp;
		<% if @player.protected %>
			<% @link = "/players/protectPlayer?id="+@player.id.to_s+"&from=players" %>
			<font color="green"> <i class="fa fa-shield"></i></span> &nbsp;  </font>
				<% if @player.user_id == current_user.id %>
		  			<%= link_to "Unprotect", @link %> </font></td>
		  		<% end %>
		<% else %>
			<% @link = "/players/protectPlayer?id="+@player.id.to_s+"&from=players" %>
			<font color="red"> <span class="glyphicon glyphicon-remove"> </span> &nbsp;  </font>
			<% if @player.user_id == current_user.id %>
				<%= link_to "Protect", @link %>
			<% end %>
		<% end %>
		<br>
		<% if @player.user_id == current_user.id %>
		<% @link = "/players/releasePlayer?id="+@player.id.to_s+"&from=team" %>
		<td> <font color="black"> <span class="glyphicon glyphicon-trash"> </span> &nbsp; 
			<%= link_to "Release", @link %> </font></td>
	<% end %>
	</div>




		

	<div class="col-md-4">
		<h2> Stats</h2>
		<b>Games Played:</b> <%= @player.games_played %><br>
		<b>Goals:</b> <%= @player.goals %><br>
		<b>Assists:</b> <%= @player.assists %><br>
		<b>Own Goals:</b> <%= @player.own_goals %><br>
		<b>Yellow Cards:</b> <%= @player.yellow_cards %><br>
		<b>Red Cards:</b> <%= @player.red_cards %><br>
		<b>Goal Average:</b> 
							<% if @player.games_played == 0 %>
									0
							<% else %>
								 	<%= number_with_precision(@player.goals.to_f / @player.games_played.to_f, precision: 2)%><br>
							<% end %>
		<% @penalesAtajados=Event.where("player_id=? and event_type_id=7",@player.id).count %>
		<br><b>Penales Atajados:</b> <%= @penalesAtajados %><br>
		<h3>Goal Types</h3>

		<% @deJugada=Event.where("player_id=? and event_type_id=2 and goal_type_id=1",@player.id).count %>
		<% @dePenal=Event.where("player_id=? and event_type_id=2 and goal_type_id=3",@player.id).count %>
		<% @deTiroLibre=Event.where("player_id=? and event_type_id=2 and goal_type_id=4",@player.id).count %>
		<% @deCabeza=Event.where("player_id=? and event_type_id=2 and goal_type_id=5",@player.id).count %>

		<b>De Jugada:</b> <%= @deJugada %>
		<br><b>De Cabeza:</b> <%= @deCabeza %>
		<br><b>De Tiro Libre:</b> <%= @deTiroLibre %>
		<br><b>De Penal:</b> <%= @dePenal %>
		
	</div>

	<div class="col-md-4">
		<h2> Ratings</h2>
		<b>Overall:</b> <%= @player.overall %><br>
		<b>Pace:</b> <%= @player.pace %><br>
		<b>Shooting:</b> <%= @player.shooting %><br>
		<b>Dribbling:</b> <%= @player.dribbling %><br>
		<b>Passing:</b> <%= @player.passing %><br>
		<b>Defence:</b> <%= @player.defence %><br>
		<b>Heading:</b> <%= @player.heading %><br>
		<h3> Positional Ratings:</h3>
		<b>Defender:</b> <%= (@player.defence*6 + @player.pace*2 + @player.heading*5 + @player.passing)/14 %><br>
		<b>Midfielder:</b> <%= (@player.shooting*4 + @player.pace*4 + @player.dribbling*4 + @player.heading+ @player.defence*2 + @player.passing*6)/20 %><br>
		<b>Winger:</b> <%= (@player.shooting*4 + @player.pace*6 + @player.dribbling*5 + @player.heading + @player.passing*4 + @player.defence)/21 %><br>
		<b>Forward:</b> <%= (@player.shooting*6 + @player.pace*5 + @player.dribbling*3 + @player.heading*4 + @player.passing*2)/19%><br>

	</div>

	
	
	
	
	
	
	
</div>