<div class="container">
	<br>
	<h1>Estadísticas de Jugador</h1>

	<table class="table table-striped table-hover ">
    	<thead><tr>
    			<th><center><%= link_to "Nombre", :sort => "Nombre" %></center></th>
				<th><center><%= link_to "PJ", :sort => "PJ" %></center></th>
    			<th><center><%= link_to "Goles", :sort => "Goles" %></center></th>
				<th><center><%= link_to "Promedio de Gol", :sort => "Promedio_de_gol" %></center></th>
    			<th><center><%= link_to "Asistencias", :sort => "Asistencias" %></center></th>
				<th><center><%= link_to "Amarillas", :sort => "Amarillas" %></center></th>
        		<th><center><%= link_to "Rojas", :sort => "Rojas" %></center></th>
				<th><center><%= link_to "Jugador del Partido", :sort => "POM" %></center></th>
				<th><center><%= link_to "De Jugada", :sort => "De_jugada" %></center></th>
				<th><center><%= link_to "En Contra", :sort => "En_contra" %></center></th>
        		<th><center><%= link_to "De Cabeza", :sort => "De_cabeza" %></center></th>
				<th><center><%= link_to "De Tiro Libre", :sort => "De_tiro_libre" %></center></th>
				<th><center><%= link_to "De Penal", :sort => "De_penal" %></center></th>
				<th><center><%= link_to "Penales Errados", :sort => "Penales_errados" %></center></th>
				<th><center><%= link_to "Penales Atajados", :sort => "Penales_atajados" %></center></th>
    	</tr></thead>

  		<% @players.each do |player| %>
  		<tbody><tr>

  			<td><%= link_to "", player_path(player[0]), :method => "get" , class: "glyphicon glyphicon-info-sign right"%>&nbsp;&nbsp;<%= player[2] %></td>
        <!-- <td><%= link_to "", team_path(player[1]), :method => "get" , class: "glyphicon glyphicon-info-sign right"%>&nbsp;&nbsp;<%= player[3] %> </td> -->


				<% for i in 4..17 %>
					<% if i == 6%>
						<td><%= number_with_precision(player[i],precision:2) %></td>
					<% else %>
						<td><%= player[i] %></td>
					<% end %>
				<% end %>




  		</tr></tbody>
  		<% end %>
  	</table>






</div>
