<div class="container">
  <h1>Match List</h1>

  <table class="table table-striped table-hover ">
    <thead>
      <tr>
        <th></th>
        <th>Fecha</th>
        <th>Torneo</th>
        <th>User L.</th>
        <th>Equipo L.</th>
        <th>Goles L.</th>
        <th>Goles V.</th>
        <th>Equipo V.</th>
        <th>User V.</th>
        <th>Finalizado</th>
      </tr>
    </thead>

    <% @matches.each do |match| %>
      <tr><center>
        <td><right><%= link_to "", match_path(match.id), :method => "get" , class: "glyphicon glyphicon-info-sign right"%></right></td>

        <td><%= match.updated_at.localtime.strftime("%d/%m %H:%M") %></td>
        <td><%= League.find(match.league_id).name %></td>

        <% if match.local_goals > match.away_goals %>
          <td><b><p class="text-info"><%= @users.find(match.local_user_id).display_name %></p></b>	</td>
          <td><b><p class="text-info"><%= @teams.find(match.local_team_id).name %></p> </b></td>
          <td><b><p class="text-info"><%= match.local_goals %></p></b></td>
          <td><%= match.away_goals %></td>
          <td><%= @teams.find(match.away_team_id).name %></td>
          <td><%= @users.find(match.away_user_id).display_name %></td>
        <% else %>
          <% if match.local_goals < match.away_goals %>
            <td><%= @users.find(match.local_user_id).display_name %>	</td>
            <td><%= @teams.find(match.local_team_id).name %> </td>
            <td><%= match.local_goals %></td>
            <td><b><p class="text-info"><%= match.away_goals %></p></b></td>
            <td><b><p class="text-info"><%= @teams.find(match.away_team_id).name %></p></b></td>
            <td><b><p class="text-info"><%= @users.find(match.away_user_id).display_name %></p></b></td>
          <% else %>
            <td><%= @users.find(match.local_user_id).display_name %>	</td>
            <td><%= @teams.find(match.local_team_id).name %> </td>
            <td><%= match.local_goals %></td>
            <td><%= match.away_goals %></td>
            <td><%= @teams.find(match.away_team_id).name %></td>
            <td><%= @users.find(match.away_user_id).display_name %></td>
          <% end %>
        <% end %>

        <td>
          <% if match.finished %>
            <span class="glyphicon glyphicon-ok"%></span>
          <% else %>
              <%= link_to "Jugar", edit_match_path(match.id), :method => "get" %>
          <% end %>
        </td>

      </tr>
    <% end %>
  </table>

</div>
