<div class="container">
	<h1>Create Match</h1>
	<br>
	<h5><a href="/matches/newReal">Jugar con equipos reales </a></h5>
	<br>

<%= form_for :match do |f| %>
	<div class="row">
		<div class="col-md-4">
			<%= f.label "Local" %>
			<%= f.select :teamL, grouped_options_for_select(@groupedTeams), {}, {:class => "form-control"} %>
		</div>
		<div class="col-md-4">
			<%= f.label "Visitante" %>
			<%= f.select :teamV, grouped_options_for_select(@groupedTeams), {}, {:class => "form-control"} %>
		</div>

	</div>
	<br>
	<div class="row">
		<div class="col-md-3">
			<% @ligas = League.where("finished= 'f' ").order(id: :asc) %>
			<%= f.select :torneo, options_from_collection_for_select(@ligas, "id", "name"), {}, {:class => "form-control"} %>
		</div>
	</div>
	<br>
	<div class="row">
		&nbsp;&nbsp;&nbsp;&nbsp;<%= f.submit "Jugar!", :class => "btn btn-primary" %>
	</div>

<% end %>

</div>
