<div class="container">
	<div class="col-sm-4">
		<br>
		<div class="row">
			<center>
				<h1>
					<%= link_to @team_local.name, team_path(@team_local.id)+'?sort=Overall', :method => "get" %>
				</h1>
			</center>
			<center>
				<h2>
					<%= link_to @user_local.display_name, user_path(@user_local.id), :method => "get" %>
				</h2>
			</center>
		</div>
		<div class="row">
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<h3><%= League.find(@match.league_id).name %></h3>
			<h3>Fecha: <%= @match.updated_at.localtime.strftime("%d/%m %H:%M")%></h3>
			<h3>MVP: <%= @pom%></h3>

		</div>


	</div>

	<div class="col-sm-4">
		<br>
		<div class="row">
			<br>
			<h1><font size= "7"><center><%= @match.local_goals %>   -    <%=  @match.away_goals %></center></font></h1>
		</div>

		<br>
		<br>

		<div class="row">
			<h1><center><p class="text-primary">Goles</p></center></h1>

			<div class="col-sm-6">
				<% @goals.each do |goal| %>
					<% if goal.team_id==@match.local_team_id and goal.goal_type_id!=2 %>
						<font color="black"><center><p>
							<%= link_to Player.find(goal.player_id).last_name, player_path(Player.find(goal.player_id)), :method => "get", class:"h4" %>
						</p></center></font>
					<% end %>
				<% end %>
				<% @ownGoals.each do |goal| %>
					<% if goal.team_id==@match.away_team_id %>
						<font color="black"><center><p>
							<%= link_to Player.find(goal.player_id).last_name + "(EC)", player_path(Player.find(goal.player_id)), :method => "get", class:"h4" %>
						</p></center></font>
					<% end %>
				<% end %>
			</div>
			<div class="col-sm-6">
				<% @goals.each do |goal| %>
					<% if goal.team_id==@match.away_team_id and goal.goal_type_id!=2%>
						<font color="black"><center><p>
							<%= link_to Player.find(goal.player_id).last_name, player_path(Player.find(goal.player_id)), :method => "get", class:"h4" %>
						</p></center></font>
					<%end%>
				<% end %>
				<% @ownGoals.each do |goal| %>
					<% if goal.team_id==@match.local_team_id %>
						<font color="black"><center><p>
							<%= link_to Player.find(goal.player_id).last_name + "(EC)", player_path(Player.find(goal.player_id)), :method => "get", class:"h4" %>
						</p></center></font>
					<% end %>
				<% end %>
			</div>
		</div>

		<div class="row">
			<h2><center><p class="text-primary">Asistencias</p></center></h2>
			<div class="col-sm-6">
				<% @assists.each do |assist| %>
					<% if assist.team_id==@match.local_team_id %>

						<font color="black"><center><p>
							<%= link_to Player.find(assist.player_id).last_name, player_path(Player.find(assist.player_id)), :method => "get", class:"h4" %>
						</p></center></font>
					<% end %>
				<% end %>
			</div>
			<div class="col-sm-6">
				<% @assists.each do |assist| %>
					<% if assist.team_id==@match.away_team_id %>
						<font color="black"><center><p>
							<%= link_to Player.find(assist.player_id).last_name, player_path(Player.find(assist.player_id)), :method => "get", class:"h4" %>
						</p></center></font>
					<%end%>
				<% end %>
			</div>
		</div>

		<div class="row">
			<h2><center><p class="text-primary">Amonestaciones</p></center></h2>
			<div class="col-sm-6">
				<% @yellow_cards.each do |yellow_card| %>
					<% if yellow_card.team_id==@match.local_team_id %>
						<font color="black"><center><p>
							<%= link_to Player.find(yellow_card.player_id).last_name, player_path(Player.find(yellow_card.player_id)), :method => "get", class:"h4" %>
						</p></center></font>
					<% end %>
				<% end %>
			</div>
			<div class="col-sm-6">
				<% @yellow_cards.each do |yellow_card| %>
					<% if yellow_card.team_id==@match.away_team_id %>
						<font color="black"><center><p>
							<%= link_to Player.find(yellow_card.player_id).last_name, player_path(Player.find(yellow_card.player_id)), :method => "get", class:"h4" %>
						</p></center></font>
					<%end%>
				<% end %>
			</div>
		</div>

		<div class="row">
			<h2><center><p class="text-primary">Expulsiones</p></center></h2>
			<div class="col-sm-6">
				<% @red_cards.each do |red_card| %>
					<% if red_card.team_id==@match.local_team_id %>
						<font color="black"><center><p>
							<%= link_to Player.find(red_card.player_id).last_name, player_path(Player.find(red_card.player_id)), :method => "get", class:"h4" %>
						</p></center></font>
					<% end %>
				<% end %>
			</div>
			<div class="col-sm-6">
				<% @red_cards.each do |red_card| %>
					<% if red_card.team_id==@match.away_team_id %>
						<font color="black"><center><p>
							<%= link_to Player.find(red_card.player_id).last_name, player_path(Player.find(red_card.player_id)), :method => "get", class:"h4" %>
						</p></center></font>
					<%end%>
				<% end %>
			</div>
		</div>

	</div>

	<div class="col-sm-4">
		<br>
		<div class="row">
			<center><h1><%= link_to @team_visitante.name, team_path(@team_visitante.id)+'?sort=Overall', :method => "get" %></h1>
			<center><h2><%= link_to @user_visitante.display_name, user_path(@user_visitante.id), :method => "get" %></h>
			</center>
		</div>



	</div>
</div>
