<div class="container">
	<h1>On the Block</h1>
	<h3>My Players for trade</h3>
	<br>
	
	<table class="table table-striped table-hover ">
    	<thead><tr>
    			
    			<th> Name </th>
				<th> Overall </th>
				<th> Position </th>
				
				
    	</tr></thead>
    	
  		<% Player.where("on_the_block='t' and user_id=?",current_user.id).each do |player| %>
  		<tbody><tr>
  					
  					<td><%= link_to " ", player_path(player.id), :method => "get" , class: "glyphicon glyphicon-info-sign"%>&nbsp;&nbsp;<%= player.first_name %> <%= player.last_name %></td>
					<td><%= player.overall %></td>
					<td><%= player.primary_position %> <%= player.secondary_position ? player.secondary_position : " " %></td>
					
					<% @link = "/players/addToTradeBlock?id="+player.id.to_s+"&from=trades" %>
					<td> <font color="red"> <span class="glyphicon glyphicon-remove"> </span> &nbsp; <%= link_to "Remove", @link %> </font></td>
  		</tr></tbody>
  		<% end %>
  	</table>
	
</div>


