<div class="container">
	<div class="row">
		<h1>Past Trades</h1>
	</div>
	
	<table class="table table-striped table-hover ">
    	<thead><tr>
    		<th>Nombre</th>
    		<th>User Origen</th>
    		<th>Equipo Origen</th>
    		<th>User Destino</th>
    		<th>Equipo Destino</th>
    		<th>Fecha</th>
    	</tr></thead>
    	
  		<% @trades.each do |trade| %>
  		<tbody><tr>
  			<td><%= @players.find(trade.player_id).first_name %> <%= @players.find(trade.player_id).last_name %> </td>
  			<td><%= @users.find(trade.first_user_id).name %></td>
  			<td><%= @teams.find(trade.first_team_id).name %></td>
  			<td><%= @users.find(trade.second_user_id).name %></td>
  			<td><%= @teams.find(trade.second_team_id).name %></td>
  			<td><%= trade.created_at.to_date %></td>
  		</tr></tbody>
  		<% end %>
  	</table>


	
	
</div>
