<div class="container">
	<div clas="row">
		<h1>Past Trades</h1>
	</div>
	<div clas="row">
		<a class="btn btn-default btn-lg" href="/" role="button">Volver</a>
		<a class="btn btn-default btn-lg" href="/trades/onTheBlock" role="button">View Players on the Block</a>
		<a class="btn btn-default btn-lg" href="/trades/addToTradeBlock" role="button">Add players to Trade Block</a>
		<a class="btn btn-default btn-lg" href="/trades/new" role="button">Propose New Trade</a>

		
	</div>
	<div clas="row">
		<table>
			<tr>
				<th>Jugador</th>
				<th>User Origen</th>
				<th>Equipo Origen</th>
				<th>User Destino</th>
				<th>Equipo Destino</th>
				<th>Fecha</th>
			</tr>

			<% @trades.each do |trade| %>
				<tr>
					<td><%= trade.player_id %></td>
					<td><%= trade.first_user_id %></td>
					<td><%= trade.first_team_id%></td>
					<td><%= trade.second_user_id %></td>
					<td><%= trade.second_team_id%></td>
					<td><%= trade.created_at %></td>

				</tr>
			<% end %>
		</table>
	</div>
	
	
</div>
