<div class="container">

  <div class="row">
    <h1>My Trades</h1>
  </div>
  
  <table class="table table-striped table-hover ">
      <thead><tr>
        
        <th>Fecha</th>
        <th>User 1</th>
        <th>User 2</th>
        <th>Jugadores a User 1</th>
        <th>Jugadores a User 2</th>
        <th>Status</th>
        <th>Cancel</th>

      </tr></thead>
      
      <% @apps.each do |app| %>
      <tbody><tr>


        
          <% @trade = Trade.find(app.trade_id) %>
          <% @pm = Player_Movement.where("trade_id=?",app.trade_id) %>
          
          
          <td><%= @trade.created_at.to_date %></td>
          
          <td><%= User.find(@pm.first.second_user_id).display_name %></td>
          <td><%= User.find(@pm.first.first_user_id).display_name %></td>
          <td> <% @pm1= Player_Movement.where("trade_id=? and first_user_id=?",@trade.id,@pm.first.first_user_id) %>
              <table class="table">
                <% @pm1.each do |pm1| %>
                  <% @player = Player.find(pm1.player_id) %>
                  <tr><td><%= @player.last_name + " " + @player.primary_position + " " + @player.overall.to_s  %></td></tr>
                <%end%>
              </table>
          </td>
          <td> <% @pm2= Player_Movement.where("trade_id=? and first_user_id=?",@trade.id,@pm.first.second_user_id) %>
              <table class="table">
                <% @pm2.each do |pm2| %>
                  <% @player = Player.find(pm2.player_id) %>
                  <tr><td><%= @player.last_name + " " + @player.primary_position + " " + @player.overall.to_s  %></td></tr>
                <%end%>
              </table>
          </td>
          <td><%= @trade.status %> </td>
          <% if @trade.status == "Created"  %>

            <% @link = "/trades/cancelTrade?id="+@trade.id.to_s %>
            <td><%= link_to "Cancel", @link%></td>
        
           
          <% end %>
      </tr></tbody>
      <% end %>
    </table>


  
  
</div>
