<div class="container">
	<center>
		<%= form_for :trade, url: trades_path do |t| %>
			<h1>Propose Simple Trade</h1>
			<br>
			<div class="col-sm-5">
				<% @current_user_array = User.where("id=?",current_user.id) %>

				<%= t.label "Usuario" %>
				<%= t.select :user_id, options_from_collection_for_select(@current_user_array, "id", "display_name"), {}, {:disabled => true, :class => "form-control"} %>
				<br>
				<% if (params[:id] == "1") %>
					<% style = {:disabled => true, :class => "form-control"} %>
				<% else %>
					<% style = {:class => "form-control"} %>
				<% end %>
				
				<%= t.label :"Jugador 1" %>
				<%= t.select :player_idA1, grouped_options_for_select(@grouped_players1, "62302"), {}, style %>
				<br>
				<%= t.label :"Jugador 2" %>
				<%= t.select :player_idA2, grouped_options_for_select(@grouped_players1, "62302"), {}, style %>
				<br>
				<%= t.label :"Jugador 3" %>
				<%= t.select :player_idA3, grouped_options_for_select(@grouped_players1, "62302"), {}, style %>
				<br>
				<%= t.label :"Jugador 4" %>
				<%= t.select :player_idA4, grouped_options_for_select(@grouped_players1, "62302"), {}, style %>
				<br>
				<%= t.label :"Jugador 5" %>
				<%= t.select :player_idA5, grouped_options_for_select(@grouped_players1, "62302"), {}, style %>
				<br>
			</div>

			<div class="col-sm-2">
			</div>

			<div class="col-sm-5">
				<% if (params[:id] == "1") %>
					<%= t.label "Usuario" %>
					<%= t.select :user_id, options_from_collection_for_select(@users, "id", "display_name"), {}, {:class => "form-control"} %>
					<br>
					<%= t.label :"Jugador 1" %>
					<%= t.select :player_idB1, grouped_options_for_select(@grouped_players2, "62302"), {}, {:disabled => true, :class => "form-control"} %>
					<br>
					<%= t.label :"Jugador 2" %>
					<%= t.select :player_idB2, grouped_options_for_select(@grouped_players2, "62302"), {}, {:disabled => true, :class => "form-control"} %>
					<br>
					<%= t.label :"Jugador 3" %>
					<%= t.select :player_idB3, grouped_options_for_select(@grouped_players2, "62302"), {}, {:disabled => true, :class => "form-control"} %>
					<br>
					<%= t.label :"Jugador 4" %>
					<%= t.select :player_idB4, grouped_options_for_select(@grouped_players2, "62302"), {}, {:disabled => true, :class => "form-control"} %>
					<br>
					<%= t.label :"Jugador 5" %>
					<%= t.select :player_idB5, grouped_options_for_select(@grouped_players2, "62302"), {}, {:disabled => true, :class => "form-control"} %>
				<% else %>
					<%= t.label "Usuario" %>
					<%= t.select :user_id, options_from_collection_for_select(@users, "id", "display_name"), {}, {:disabled => true, :class => "form-control"} %>
					<br>
					<%= t.label :"Jugador 1" %>
					<%= t.select :player_id, grouped_options_for_select(@grouped_players2, "62302"), {}, {:class => "form-control"} %>
					<br>
					<%= t.label :"Jugador 2" %>
					<%= t.select :player_id, grouped_options_for_select(@grouped_players2, "62302"), {}, {:class => "form-control"} %>
					<br>
					<%= t.label :"Jugador 3" %>
					<%= t.select :player_id, grouped_options_for_select(@grouped_players2, "62302"), {}, {:class => "form-control"} %>
					<br>
					<%= t.label :"Jugador 4" %>
					<%= t.select :player_id, grouped_options_for_select(@grouped_players2, "62302"), {}, {:class => "form-control"} %>
					<br>
					<%= t.label :"Jugador 5" %>
					<%= t.select :player_id, grouped_options_for_select(@grouped_players2, "62302"), {}, {:class => "form-control"} %>
				<% end %>
				<br>
			</div>

			<div class="col-sm-12">
				<br>
				<%= t.submit "Propose", :class => "btn btn-primary" %>
			</div>

		<% end %>
	</center>
</div>
<br><br><br><br>
