<div class="container">
	<h1>On the Block</h1>
	<h3>Players for trade</h3>
	<br>
	
	<table class="table table-striped table-hover ">
    	<thead><tr>
    			
    			<th> Name </th>
				<th> Overall </th>
				<th> Primary Position </th>
				<th> Secondary Position </th>
				<th> Pace </th>
				<th> Shooting </th>
				<th> Dribbling </th>
				<th> Passing </th>
				<th> Heading </th>
				<th> Defence </th>
				
    	</tr></thead>
    	
  		<% Player.where("on_the_block='t' and user_id<>?",current_user.id).each do |player| %>
  		<tbody><tr>
  					
  					<td><%= link_to " ", player_path(player.id), :method => "get" , class: "glyphicon glyphicon-info-sign"%>&nbsp;&nbsp;<%= player.first_name %> <%= player.last_name %></td>
					<td><%= player.overall %></td>
					<td><%= player.primary_position %></td>
					<td><%= player.secondary_position %></td>
					<td><%= player.pace ? player.pace : "N/A" %></td>
					<td><%= player.shooting ? player.shooting : "N/A" %></td>
				  	<td><%= player.dribbling ? player.dribbling : "N/A" %></td>
					<td><%= player.passing ? player.passing : "N/A" %></td>
					<td><%= player.heading ? player.heading : "N/A" %></td>
					<td><%= player.defence ? player.defence : "N/A" %></td>
					<td><a class="btn btn-default" href="/trades/new" role="button">Trade For</a></td>
  		</tr></tbody>
  		<% end %>
  	</table>
	
</div>


